.header 
  .header__logo
    グループを作成しました
.name-box
  .name-box__left
    seo
  .name-box__right
    =fa_icon 'edit', class:"name-box__right--icon"
    =fa_icon 'cog', class:"name-box__right--icon"
    
.teamname-box
  .teamname-box__1st

  .teamname-box__edit
    Edit

.team-box

.message-box
  .messages
    = render @messages

.form
  = form_for [@group, @message] do |f|
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
    .input-box__image
      = f.label :image, class: 'input-box__image' do
        = fa_icon 'image', class: 'input-box__image'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit-btn'
