.name-box
  .name-box__left
    = current_user.name
  .name-box__right
    = link_to new_group_path do
      =fa_icon 'edit', class:"name-box__right--icon"
    = link_to edit_user_path(current_user) do
      =fa_icon 'cog', class:"name-box__right--icon"

.teamname-box
  .teamname-box__1st
    = @group.name
  .teamname-box__edit
    = link_to edit_group_path(@group.id) do
      Edit
  .teamname-box__2nd
    - @group.users.each do |user_name|
      = user_name.name
.groupss
  - current_user.groups.each do |group|
    .groups
      = link_to group_messages_path(group) do
        .groups__name
          = group.name
        .groups__message
          = group.show_last_message

.message-box
  .messages
    = render @messages

.form
  = form_for [@group, @message] do |f|
    .input-box
      = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
    .input-box__image
      = f.label :image, class: 'input-box__image' do
        = fa_icon 'image', class: 'input-box__image'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'submit-btn'